<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.testing.Testscripts.TC1_PostRequest"/>
      <class name="org.testing.Testscripts.TC2_Getrequest"/>
      <class name="org.testing.Testscripts.TC3_Getallrequest"/>
      <class name="org.testing.Testscripts.TC4_Putrequest"/>
      <class name="org.testing.Testscripts.TC5_Deleterequest"/>
      <class name="org.testing.Testscripts.TC10_Deletenew"/>
      <class name="org.testing.Testscripts.TC6_Createrecord"/>
      <class name="org.testing.Testscripts.TC7_Getemployee"/>
      <class name="org.testing.Testscripts.TC8_Alldataget"/>
      <class name="org.testing.Testscripts.TC9_Update"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
